html {
  background: #a5bacc;
}

.header {
  width: 300px;
  background: rgba(40, 99, 153, 0.2);
}

.footer {
  background: rgba(40, 99, 153, 0.2);
}

.top-text {
  background: linear-gradient(
    180deg,
    #29f2ff 0%,
    #0ab7d5 50.25%,
    #01a1d3 55.07%,
    #00a7be 100%
  );
}

.mid-text-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(242, 242, 242, 0.75) 50.25%,
    rgba(234, 234, 234, 0.75) 55.07%,
    rgba(222, 222, 222, 0.75) 100%
  );
}

.bot-text-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(242, 242, 242, 0.25) 50.25%,
    rgba(234, 234, 234, 0.25) 55.07%,
    rgba(222, 222, 222, 0.25) 100%
  );
}

.icon-bg {
  background: linear-gradient(
    180deg,
    rgba(72, 255, 222, 0.17) 0%,
    rgba(15, 212, 255, 0.15) 45.83%,
    rgba(150, 236, 255, 0.48) 100%
  );
}

.bar {
  width: 100%;
}

.bar-content {
  width: 100%;
  transform: translateX(100%);
  animation: move 12s linear infinite;
}

@keyframes move {
  to {
    transform: translateX(-100%);
  }
}
